<html>
	<head>
		<title>
			<%- pageInformation.Title %>
		</title>
		<%- pageInformation.Slogan %>
		<br>
		stylesheet should load:
		<link rel="stylesheet" type="text/css" href="Assets/deno-style.css">
	</head>
	<body>
		<header>
			<div id="nav">
				<div id="nav-auth">
					<a href="./register"> Register </a>
					<a href="./login"> Login </a>
				</div>
			</div>
		</header>
		<main>
			<section>

			</section>
		</main>
		<footer>
			<%- pageInformation.Footer %>
		</footer>
	</body>
</html>
