<html>
  <head>
    <title><%- pageInformation.Title %></title>
  </head>
  <body>


    <form action="/" method="post">
      Username: <input type="text" name="username"/>
      Password: <input type="password" name="password"/>
      <br/>
      <br/>
      <input type="submit" value="send" text="send" name="login"/>
    </form>

  </body>
</html>
