<html>
	<head>
		<title></title>
	</head>
	<body>
		<form action="/" method="post" id="register" name="registerattempt" value="registervalue">
			<input type="text"/>
			<input type="password" name="password"/>
			<input type="password" name="passwordAgain"/>
			<input type="email" name="email"/>
			<input type="submit" name="attempt-to-register"/>
		</form>
	</body>
<html>